body{
    margin: 0;
    padding: 0;
}

.encabezado{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: brown;
}

.navegacion{
    width: 100%;
    height: 40vh;
    border: 3px solid blue;
    margin-top: 9vh;
}

.piedepagina{
    border: 3px solid purple;
    width: 100%;
    height: 200px;
    margin-top: 40vh;
    color: aquamarine;
}

